
// mq values (no unit)
$bp--small-value: 28;
$bp--medium-value: 42;
$bp--large-value: 60;
$bp--xlarge-value: 75;
$bp--xxlarge-value: 90;
$bp--xxxlarge-value: 110;

// mq's in ems
$bp--small: $bp--small-value * 1em;
$bp--medium: $bp--medium-value * 1em;
$bp--large: $bp--large-value * 1em;
$bp--xlarge: $bp--xlarge-value * 1em;
$bp--xxlarge: $bp--xxlarge-value * 1em;
$bp--xxxlarge: $bp--xxxlarge-value * 1em;



/* Set custom properties for layout and sizing */

$content-width-s: 92vw;
$content-width-m: 40rem;
$content-width-l: 44rem;

:root {
  --content-width: #{$content-width-s};
  --margin-left: calc( (100vw - var(--content-width)) / 2 );
  --margin-right: calc( (100vw - var(--content-width)) / 2 );

  @media screen and (min-width: $bp--medium) {
    --content-width: #{$content-width-m};
    --margin-left: calc( (100vw - var(--content-width)) / 3 );
    --margin-right: calc( ((100vw - var(--content-width)) / 3) * 2 );
  }

  @media screen and (min-width: $bp--large) {
    --content-width: #{$content-width-l};
  }
}

/* Colors */

$color-paper-light: #fafafd;
$color-dark-gray: #333333;

:root {
  --color-paper-light: #{$color-paper-light};
  --color-dark-gray: #{$color-dark-gray};

  --color-background: var(--color-paper-light);
  --color-text: var(--color-dark-gray);
}

/* Fonts */
$fonts-base-serif: Georgia, 'Times New Roman', Times, serif;
$fonts-base-sans: Helvetica, Arial, sans-serif;

$fonts-serif: $fonts-base-serif;
$fonts-sans: $fonts-base-sans;

:root {
  --fonts-base-serif: #{$fonts-base-serif};
  --fonts-base-sans: #{$fonts-base-sans};

  --fonts-serif: #{$fonts-serif};
  --fonts-sans: #{$fonts-sans};
}

/* Text sizing */

/* Preprocessed for fallbacks */
/* Change values here for all font sizing */

/* Font size values (needed for dynamic sizing) */
$p-size-s-value: 1;
$p-size-m-value: 1.125;
$p-size-l-value: 1.25;

$h1-size-s-value: 2.5;
$h1-size-m-value: 3;
$h1-size-l-value: 4;

/* Font sizes in rems */
$p-size-s: $p-size-s-value * 1rem;
$p-size-m: $p-size-m-value * 1rem;
$p-size-l: $p-size-l-value * 1rem;

$h1-size-s: $h1-size-s-value * 1rem;
$h1-size-m: $h1-size-m-value * 1rem;
$h1-size-l: $h1-size-l-value * 1rem;

/* Line-height */
$p-lh-s: 1.4;
$p-lh-m: 1.45;
$p-lh-l: 1.5;

$h1-lh-s: 1.05;
$h1-lh-m: 1.1;
$h1-lh-l: 1.15;

/* Custom props for modern browsers */
:root {
  --p-size-s-value: #{$p-size-s-value};
  --p-size-m-value: #{$p-size-m-value};
  --p-size-l-value: #{$p-size-l-value};

  --h1-size-s-value: #{$h1-size-s-value};
  --h1-size-m-value: #{$h1-size-m-value};
  --h1-size-l-value: #{$h1-size-l-value};

  --p-size-s: #{$p-size-s-value * 1rem};
  --p-size-m: #{$p-size-m-value * 1rem};
  --p-size-l: #{$p-size-l-value * 1rem};

  --h1-size-s: #{$h1-size-s-value * 1rem};
  --h1-size-m: #{$h1-size-m-value * 1rem};
  --h1-size-l: #{$h1-size-l-value * 1rem};

  --p-lh-s: #{$p-lh-s};
  --p-lh-m: #{$p-lh-m};
  --p-lh-l: #{$p-lh-l};

  --h1-lh-s: #{$h1-lh-s};
  --h1-lh-m: #{$h1-lh-m};
  --h1-lh-l: #{$h1-lh-l};
}