html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Base typography */

html {
  font-size: 100%;
}

body {
  background-color: var(--color-background);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
  max-width: $content-width-s;
  max-width: var(--content-width);
  width: 100%;
  @media screen and (min-width: $bp--medium) {
    max-width: $content-width-m;
    max-width: var(--content-width);
 }
 @media screen and (min-width: $bp--large) {
  max-width: $content-width-l;
  max-width: var(--content-width);
}

  img {
    margin: 0;
    padding: 0;
  }
}


h1 {
  color: $color-dark-gray;
  color: var(--color-text);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: $h1-size-s;
  font-size: var(--h1-size-s);
  line-height: $h1-lh-s;
  line-height: var(--h1-lh-s);
  margin: 2rem 0 0 0;
  max-width: $content-width-s;
  max-width: var(--content-width);
  position: relative;
  @media screen and (min-width: $bp--medium) {
    font-size: $h1-size-m;
    font-size: var(--h1-size-m);
    line-height: $h1-lh-m;
    line-height: var(--h1-lh-m);
    max-width: $content-width-m;
    max-width: var(--content-width);
 }
  @media screen and (min-width: $bp--large) {
    font-size: $h1-size-l;
    font-size: var(--h1-size-l);
    line-height: $h1-lh-l;
    line-height: var(--h1-lh-l);
    max-width: $content-width-l;
    max-width: var(--content-width);
  }
}


h1 + p {
  margin-top: 3rem;
}

p {
  color: $color-dark-gray;
  color: var(--color-text);
  font-size: $p-size-s;
  font-size: var(--p-size-s);
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: $p-lh-s;
  line-height: var(--p-lh-s);
  margin: 0;
  max-width: $content-width-s;
  max-width: var(--content-width);
  position: relative;
  @media screen and (min-width: $bp--medium) {
    font-size: $p-size-m;
    font-size: var(--p-size-m);
    -webkit-hyphens: none;
    hyphens: none;
    line-height: $p-lh-m;
    line-height: var(--p-lh-m);
    max-width: $content-width-m;
    max-width: var(--content-width);
  }
  @media screen and (min-width: $bp--large) {
    font-size: $p-size-l;
    font-size: var(--p-size-l);
    line-height: $p-lh-l;
    line-height: var(--p-lh-l);
    max-width: $content-width-l;
    max-width: var(--content-width);
  }

  + p {
    text-indent: 1.5em;
  }
}


ul {
  color: $color-dark-gray;
  color: var(--color-text);
  font-size: $p-size-s;
  font-size: var(--p-size-s);
  line-height: $p-lh-s;
  line-height: var(--p-lh-s);
  margin: 0;
  max-width: $content-width-s;
  max-width: var(--content-width);
  padding-left: 1.25rem;
  @media screen and (min-width: $bp--medium) {
    font-size: $p-size-m;
    font-size: var(--p-size-m);
    line-height: $p-lh-m;
    line-height: var(--p-lh-m);
    max-width: $content-width-m;
    max-width: var(--content-width);
  }
  @media screen and (min-width: $bp--large) {
    font-size: $p-size-l;
    font-size: var(--p-size-l);
    line-height: $p-lh-l;
    line-height: var(--p-lh-l);
    max-width: $content-width-l;
    max-width: var(--content-width);
  }
}

/* Scope these styles to just within chapter content */
.chapter {
  /* Style first line of the first paragraph in the chapter */
  p:first-of-type::first-line {
    font-variant-caps: small-caps;
    font-weight: bold;
  }

  /* Add an end mark at the end of the last paragraph */
  p:last-child:after {
    content: "\2766";
    display: inline;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.25em;
    line-height: 0.5;
  }

  /* Style the initial letter */
  p:first-of-type::first-letter {
    color: #555555;
    float: left;
    font-weight: normal;
    font-size: 5.125em;
    /* tweak vertical positioning in Chrome & Safari */
    line-height: 0.7;
    margin: 0;
    padding: 0 0.1em 0 0;

    /* tweak vertical positioning in Firefox */
    padding-top: 0.05em;
    @media screen and (min-width: $bp--large) {
      padding-top: 0.1em;
    }
  }
}