
/* Top bar */
.top-bar { border-bottom: solid 1px rgba(0,0,0,.25);
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 0.5rem 2vw 0;
  *:last-child {
    justify-self: right;
  }
}


/* Navigation */

.toc {
  position: relative;

  &-trigger {
    display: block;
    height: 2rem;
    min-width: 15rem;
  }

  &-menu {
    .toc & {
      height: 1px;
      list-style: none;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0.25rem;
      position: absolute;
      top: 2rem;
      transition: opacity 0.2s ease-in, height 0.1s ease-in;
      left: 0;
      li {
        border-bottom: solid 1px rgba(0,0,0,.25);
  
        &:last-child {
          border-bottom: none;
        }
      }
  
      a {
        display: block;
        font-size: 0.92rem;
        padding: 0.5em 0.15em;
  
        &:link {
          text-decoration: none;
        }
        
        &:visited {
          text-decoration: none;
        }
        
        &:hover {
          background-color: rgba(0,0,0,.05);
          text-decoration: none;
        }
        
        &:focus {
          background-color: rgba(0,0,0,.05);
          text-decoration: none;
        }
        
        &:active {
          background-color: rgba(0,0,0,.05);
          text-decoration: none;
        }
      }
    }
    .toc:focus-within &,
    .toc:hover & {
        background-color: #fafafa;
        box-shadow: 0.1em 0.1em 0.2em #eaeaea;
        height: 35vh;
        min-height: 10rem;
        opacity: 1;
        overflow-y: scroll;
        z-index: 99;
    }
  }
}

/* Chapter prev/next navigation */
.prev-next-chapters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  margin: 0 0 0 var(--margin-left);
  max-width: var(--content-width);
  padding: 0;

  &:first-child {
    text-align: left;
  }

  .next {
    text-align: right;
  }
}

/* Editor's note */
.note {
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  max-width: var(--content-width);
  padding: 0.5rem;
  figure + & {
    margin-top: 1rem;
  }
  > *:first-child {
    margin-top: 0;
  }
}

figure {

  &.wide {
    max-width: var(--content-width);
    width: 100%;
  }

  &.small {
    --figure-width: calc( var(--content-width) / 3);
    --centering-margin: calc( var(--content-width) / 3);
    width: var(--figure-width);
  }

  &.medium {
    --figure-width: calc( var(--content-width) / 2);
    --centering-margin: calc( var(--content-width) / 4);
    width: var(--figure-width);
  }

  &.center {
    margin-left: calc( var(--margin-left) + var(--centering-margin) );
  }

  &.left {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
  }

  &.right {
    float: right;
    margin-left: 1.5rem;
    margin-right: var(--margin-right);
    margin-bottom: 1rem;
  }

  * + & {
    margin-top: 1rem;
  }
}
