    </main>
    <footer>
      <a href="#top">Top</a> | 
      <a href="{{ '/' | url }}">Home</a> | 
      <a href="{{ '/' | url }}about">About this project</a> 
    </footer>
    <script src="{{ '/' | url }}assets/js/scripts.js" async></script>
  </body>
</html>
