    </main>
    <footer>
      <a href="https://github.com/jpamental/moby-dick">See the source on Github</a> | 
      <a href="https://www.gutenberg.org/files/2701/2701-h/2701-h.htm">Based on text from Project Gutenberg</a>
    </footer>
    <script src="../assets/js/scripts.js"></script>
  </body>
</html>
