<ul class="menu">
    <li class="settings__swipe">
      <a href="#" id="toggle-swipe" class="toggle-swipe off">Swipe UI</a>
    </li>
    <li class="settings__lightmode">
      Light mode: 
      <ul class="submenu">
        <li><a href="#" id="light_mode_switch" class="toggle-lightmode switch">Switch</a></li>
        <li><a href="#" id="light_mode_reset" class="toggle-lightmode auto">Use system preference</a></li>
      </ul>
    </li>
</ul>
